---
import { LOGOS } from '../../consts'
import Logo from '../Logo.astro'

const logos = Object.entries(LOGOS)
---

<section class="bg-slate-950 py-6 md:py-10 overflow-x-hidden flex gap-8 px-8" id="carousel">
  <div class="flex items-center gap-8 logos-group flex-shrink-0 flex-grow-0 logos">
    {logos.map(([src, title]) => (
      <Logo src={src} title={title} />
    ))}
  </div>
  <div class="flex items-center gap-8 logos-group flex-shrink-0 flex-grow-0 logos">
    {logos.map(([src, title]) => (
      <Logo src={src} title={title} />
    ))}
  </div>
  <div class="flex items-center gap-8 logos-group flex-shrink-0 flex-grow-0 logos">
    {logos.map(([src, title]) => (
      <Logo src={src} title={title} />
    ))}
  </div>
</section>
<style>
  .carousel-logo {
    transition: filter 300ms;
  }

  .carousel-logo:hover {
    --tw-drop-shadow: drop-shadow(0 0 .25rem #999);
  }

  .logos {
    will-change: transform;
    animation: scrolling 20s linear infinite;
  }

  @keyframes scrolling {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-102.5%);
    }
  }
</style>
