---
import { LOGOS } from '../../consts'
import Logo from '../Logo.astro'

const logos = Object.entries(LOGOS)
---

<section class="bg-slate-950 py-6 md:py-10 overflow-x-hidden flex gap-8 px-8" id="carousel">
  <div class="flex items-center gap-8 logos-group flex-shrink-0 flex-grow-0 logos">
    {logos.map(([src, title]) => (
      <Logo src={src} title={title} />
    ))}
  </div>
  <div class="flex items-center gap-8 logos-group flex-shrink-0 flex-grow-0 logos">
    {logos.map(([src, title]) => (
      <Logo src={src} title={title} />
    ))}
  </div>
  <div class="flex items-center gap-8 logos-group flex-shrink-0 flex-grow-0 logos">
    {logos.map(([src, title]) => (
      <Logo src={src} title={title} />
    ))}
  </div>
</section>

