---
import { getImage, Image } from 'astro:assets'
import { SKILLS } from '../../consts'
import bg from '../../images/bg-pattern.jpg'

interface Image {
  name: string
  src: ImageMetadata
}

const promises = Object.entries(SKILLS)
  .map(async ([src, title]) => ({
    name: title,
    src: (await import(`../../images/logos/${src}.svg`)).default
  }))

const images = await Promise.all(promises)

const { srcSet } = await getImage({
  src: bg,
  format: 'webp',
  widths: [425, bg.width],
})

const sets = srcSet.values
const vars = {
  'bg-sm': `url("${sets[0].url}")`,
  'bg': `url("${sets[1].url}")`,
}
---

<style define:vars={vars}>
  .bg-pattern {
    background-image: var(--bg-sm);
  }

  @media (min-width: 1024px) {
    .bg-pattern {
      background-image: var(--bg);
    }
  }
</style>
<section class="container xl:max-w-screen-xl px-4 py-16 md:px-10 md:py-20 mx-auto" id="habilidades">
  <h2 class="font-bold text-4xl text-gradient tracking-tighter text-center">
    Mis habilidades
  </h2>
  <p class="text-lg text-center">Estas son las principales tecnologías para desarrollo web que he aprendido y utilizado a lo largo de mi formación</p>
  <div class="rounded-xl shadow mt-8 bg-pattern">
    <template id="skill-template"></template>
    <div class="py-4 md:px-4 rounded-xl">
      <div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 gap-6">
        {images.map(({ name, src }: Image) => (
          <div>
            <figure class="pt-3 pb-2 rounded-xl border-2 border-green-400 backdrop-blur-sm">
              <Image class="w-20 mx-auto" src={src} alt={`Logo de ${name}`} />
              <figcaption class="text-slate-200 text-xl font-semibold tracking-tight text-center mt-3 mb-0">{name}</figcaption>
            </figure>
          </div>
        ))}
      </div>
    </div>
  </div>
</section>
