---
import { Image } from 'astro:assets'
import { IMAGES } from '../consts'
import Icon from './Icon.astro'
import SlideButton from './SlideButton.astro'
import Dialog from './Dialog.astro'

interface Image {
  name: string
  project: string
  src: ImageMetadata
}

const promises = Object.entries(IMAGES).flatMap(([project, images]) => {
  return images.map(image => ({ project, name: image }))
}).map(async image => ({
  project: image.project,
  name: image.name,
  src: (await import(`../images/projects/${image.project}/${image.name}.png`)).default
}))

const images = await Promise.all(promises)
---

<Dialog class="h-[calc(100vh-1rem)] select-none" id="slideshow">
  {images.map(({ name, src, project }: Image) => (
    <Image class="w-full h-full" src={src} alt="Capturas de pantalla de proyectos" data-slide={`${project}-${name}`} />
  ))}
  <button class="grid place-items-center absolute top-2 right-2 outline-none bg-slate-950/80 rounded-full group opacity-100 transition-opacity duration-1000" type="button" data-dismiss="slideshow" id="slide-close">
    <Icon id="close" class="rounded-full w-9 h-9 p-2 text-slate-200 group-hover:text-slate-100" />
  </button>
  <div class="flex bg-slate-950/80 py-4 justify-center items-center gap-4 absolute w-full bottom-0 opacity-100 transition-opacity duration-1000">
    <SlideButton icon="left" id="slide-previous" />
    <div class="flex justify-center items-center gap-4" id="thumbnails">
      {images.map(({ name, src, project }: Image) => (
        <Image class="ring-4 ring-transparent hover:ring-slate-400 cursor-pointer h-16 transition-all aspect-video w-auto" src={src} alt="Captura de pantalla" data-thumbnail={`${project}-${name}`} />
      ))}
    </div>
    <SlideButton icon="right" id="slide-next" />
  </div>
</Dialog>
<script src="/src/scripts/slideshow.ts"></script>
